body-background = #F7F7F7
json-input-background = #242424
person-border = #DBDBDB
person-hover-strip = #2E4DAB
attribute-bar-holder = #D4D4D4
group-header-icon = #454545
group-header-background = #242424
group-header-text = #EDEDED
