body-background = #F7F7F7
textarea-background = #242424
textarea-text = #FFFFFF
person-border = #DBDBDB
person-hover-strip = #2E4DAB
attribute-bar-holder = #D4D4D4
group-header-icon = #454545
group-header-background = #242424
group-header-text = #EDEDED
columns-border = #868BB0
